$bg-color: #f8fafa  
$bg-color2: #eff0f2 
$aqua: #505050
$white: #fff
$tifany: #6eeee4 
$black: #000
$electric: #27cdc3 
$bg-gray: #959697
$bg-world: #b2f2ee
$bg-nav: #9ee5e1
$bg-before: #ebecee
$gray: #646565 
$light-grey: #e3e3e3 
$dark-grey:  #1d4a46
$dull-grey: #4f4f4f
$pale-white: #fafbfc
$pale-grey: #a3abb0 
$blue-black: #262b2e 
$light-cart: #d6d7d7
$dark-cart: #969798
$aquamarine: #424648